# Visual Studio
.vs/
*.suo
*.user
*.vcxproj.user
*.sdf
*.opensdf
*.VC.db
.idea

# Build outputs
[Dd]ebug/
[Rr]elease/
x64/
build/
.packaging/
dist/
.boost-link-override/
.boost-vc100/  # Boost library build artifacts

# Files
*.obj
*.pdb
*.ilk
*.tlog

# Local env overrides
.env
